# Ignore PyCharm IDE files
.idea/

# Ignore virtual environment directories
venv/
.venv/

# Ignore environment variable file
.env

# Ignore database files
*.db

# Ignore compiled Python files
__pycache__/